<style>
  body {
    background-image: url('/room3/img/Desk.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-container {
    padding: 30px 50px;
    text-align: center;
  }

  </style>
  <div class="button-container">
    <div style="margin-bottom: 25px;">
    <button onclick="window.history.back()" class="btn btn-secondary">Quay lại</button>
  </div>
  </div>