<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Desk Hotspot</title>
    <link rel="stylesheet" href="/css/room3/hotspot/desk.css">
</head>
<body>
    <h1>Welcome to the Desk Hotspot</h1>
</body>
</html>
