<h1 class="mt-5 text-center">Câu Đố Văn Hoá</h1>
<p class="instruction text-center mt-2">
  Kéo các hình vào đúng vị trí tương ứng với làng nghề truyền thống.
</p>

<!-- image pool -->
<div class="row mb-4 mt-4">
  <div class="col-12 text-center">
    <div id="imagePool" class="dropZone">
      <img id="item1" src="/room3/img/minigame/son_mai_ha_thai.jpg" class="draggable-img" draggable="true" />
      <img id="item2" src="/room3/img/minigame/lua_van_phuc.jpg" class="draggable-img" draggable="true" />
      <img id="item3" src="/room3/img/minigame/com_lang_vong.jpg" class="draggable-img" draggable="true" />
      <img id="item4" src="/room3/img/minigame/gom_bat_trang.jpg" class="draggable-img" draggable="true" />
    </div>
  </div>
</div>

<div id="message" class="message" style="display: none;">{{message}}</div>

<!-- drop zones -->
<div class="row text-center">
  <div class="col-lg-3">
    <div class="dropZone border" data-accept="item4"></div>
    <h5>Làng gốm Bát Tràng</h5>
  </div>
  <div class="col-lg-3">
    <div class="dropZone border" data-accept="item1"></div>
    <h5>Làng sơn mài Hạ Thái</h5>
  </div>
  <div class="col-lg-3">
    <div class="dropZone border" data-accept="item2"></div>
    <h5>Làng lụa Vạn Phúc</h5>
  </div>
  <div class="col-lg-3">
    <div class="dropZone border" data-accept="item3"></div>
    <h5>Làng làm cốm Vòng</h5>
  </div>
</div>

<!-- buttons -->
<div class="text-center mt-4">
  <button id="submitBtn" class="btn btn-primary">Gửi Câu Trả Lời</button>
  <button id="resetBtn" class="btn btn-secondary ms-2">Làm Lại</button>
  <h4 id="result" class="mt-3"></h4>
</div>

<!-- back button -->
<div class="text-center mt-4">
  <a href="http://localhost:8080/room3" class="btn btn-outline-dark">Quay lại</a>
</div>

<!-- CSS and JS -->
<link rel="stylesheet" href="/css/room3/hotspot/painting.css" />
<script src="/js/room3/painting.js" defer></script>