<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Câu Đố Tinh Thần Cộng Đồng</title>
  <link rel="stylesheet" href="/css/room3/window.css">
</head>

<body>
  <div id="quiz-container">
    <h1>Câu Đố Tinh Thần Cộng Đồng</h1>
    <div id="question-container"></div>
    <div id="result" class="result"></div>
    <div class="button-group">
      <button type="button" id="submit-button" class="button submit-button">Gửi Câu Trả Lời</button>
      <button type="button" id="next-button" class="button next-button" style="display: none;">Tiếp Theo</button>
      <button onclick="window.history.back();" class="button back-button">Quay lại</button>
    </div>
  </div>

  <div id="popup-message" class="popup-overlay" style="display: none;">
    <div class="popup-content">
      <span id="popup-close" class="popup-close">&times;</span>
      <h3 class="popup-title">Hoàn Thành!</h3>
      <p id="popup-text" class="popup-text">{{message}}</p>
      <button class="btn btn-success mt-3" onclick="window.location.href='http://localhost:8080/room3';">Quay lại
        phòng</button>
    </div>
  </div>

  <script>
    const questions = {{{ json questions }}};
  </script>
  <script src="/js/room3/window.js"></script>
</body>

</html>