<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Fill in the Blank</title>
  <link rel="stylesheet" href="/room3/css/fillInBlank.css">
</head>

<body>
  <div id="game-container">
    <div class="row">
      <h1>Câu Đố Tinh Thần Đoàn Kết</h1>
      <p id="sentence"></p>
      <div id="result"></div>
    </div>
    <div class="row">
      <button id="submit-button" class="button">Gửi Câu Trả Lời</button>
      <button onclick="window.history.back();" class="button back-button">Quay lại</button>
    </div>

  </div>
  <script>
    const sentenceData = {{{ json sentenceData }}};
  </script>
  <script src="/room3/js/fillInBlank.js"></script>
</body>

</html>