<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fill in the Blank</title>
  <link rel="stylesheet" href="/room3/css/fillInBlank.css">
</head>
<body>
  <div id="game-container">
    <div class="row">
      <h1>Fill in the Blanks</h1>
      <p id="sentence"></p>
      <div id="result"></div>
    </div>
    <div class="row">
      <button id="submit-button">Submit Answers</button>
    </div>
  </div>
  <script>
    const sentenceData = {{{ json sentenceData }}};
  </script>
  <script src="/room3/js/fillInBlank.js"></script>
</body>
</html>