<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Multiple Choice</title>
  <link rel="stylesheet" href="/room3/css/multipleQuestion.css">
</head>
<body>
  <div id="quiz-container">
    <h1>Câu Đố Tinh Thần Cộng Đồng</h1>
    <h2 id="question"></h2>
    <div id="options"></div>
    <div id="result"></div>

    <div class="button-group">
      <button id="submit-button" class="button submit-button">Gửi Câu Trả Lời</button>
      <button onclick="window.history.back();" class="button back-button">Quay lại</button>
    </div>
  </div>

  <script>
    const questions = {{{ json questions }}};
  </script>
  <script src="/room3/js/multipleQuestion.js"></script>
</body>
</html>
