<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <title>Quên mật khẩu</title>
  <link rel="stylesheet" href="/css/user/forgotpassword.css">
</head>

<body>
  <div class="forgot-password-container">
    <h2>Quên mật khẩu</h2>
    <form action="/forgotpassword" method="POST">
      <input type="text" name="username" placeholder="Tên đăng nhập hoặc email" required />
      <div class="buttons">
        <button type="submit">Gửi yêu cầu</button>
        <a href="/" class="cancel-link">Huỷ</a>
      </div>
    </form>

    {{#if error}}
    <p class="message error">{{error}}</p>
    {{/if}}

    {{#if message}}
    <p class="message success">{{{message}}}</p>
    {{/if}}
  </div>
</body>

</html>