<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <title>Đặt lại mật khẩu</title>
  <link rel="stylesheet" href="/css/user/resetpassword.css">
</head>

<body>
  <div class="reset-password-container">
    <h2>Đặt lại mật khẩu</h2>
    <form action="/resetpassword/{{token}}" method="POST">
      <input type="password" name="newPassword" placeholder="Mật khẩu mới" required />
      <div class="buttons">
        <button type="submit">Đổi mật khẩu</button>
        <a href="/" class="cancel-link">Huỷ</a>
      </div>
    </form>
  </div>
</body>

</html>