<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Cรi ฤแบทt</title>
  <link rel="stylesheet" href="/css/user/setting.css">
</head>
<body>
  <div class="container">
    <h2 class="title">โ๏ธ Cรi ฤแบทt</h2>

    <ul class="settings-list">
      <li><a href="#">๐ Thay ฤแปi รขm thanh</a></li>
      <li><a href="#">๐ Thay ฤแปi ngรดn ngแปฏ</a></li>
      <li><a href="#">๐ฌ Gแปญi phแบฃn hแปi</a></li>
    </ul>

    <div class="actions">
      <button onclick="window.history.back()" class="btn back-button">โ Quay lแบกi</button>
    </div>
  </div>
</body>
</html>
