      <div class="controls">
      <button id="back-button">Quay lại</button>
    </div>
    <div id="moves"></div>
    <div class="slider-game">
      <div class="container"></div>
      <div class="original-image">
        <img src="/room2/Slidepuzzle_images/original-image.jpg" alt="" />
      </div>
    </div>

    <link rel="stylesheet" href="/room2/css/slidePuzzle.css" />
    <script src="/room2/js/slidePuzzle.js"></script>
    
  