
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/room2/css/slidePuzzle.css" />
    <!-- Script -->
    <script src="/room2/js/slidePuzzle.js"></script>
      
      <div class="slider-game">
        <div class="container hide"></div>
        <img src="/room2/Slidepuzzle_images/original-image.jpg" alt="original-image" class="original-image" />
      </div>
      <div id="moves">Moves: 0</div>

    
  