<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sliding Puzzle Game</title>
</head>
<body>
    <div class="game-container">
        <div class="main">
            <h1>Sliding Puzzle Game</h1>
            <div class="puzzle-container">
                <div class="puzzle"></div>
            </div>
            <div class="moves"></div>
        </div>
        <div>
            <div class="main-image">
                <p>Original Image:</p>
                <img src="/room2/Slidepuzzle_images/original-image.jpg" alt="Original Image">
            </div>
            <div class="controls">
                <button id="back-button">Quay lại</button>
            </div>
        </div>
    </div>
    <div class="modal" id="win-modal">
        <div class="modal-content">
            <p>Congratulations! You solved the puzzle in <span id="move-count"></span> moves!</p>
            <button id="modal-ok-button">OK</button>
        </div>
    </div>
    <link rel="stylesheet" href="/css/room2/slidePuzzle.css" />
    <script src="/js/room2/slidePuzzle.js"></script>
</body>
</html>