<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <title>Trang quản trị</title>
    <link rel="stylesheet" href="/css/admin/dashboard.css">
</head>

<body>

    <div class="dashboard-container">
        <h1>Xin chào Quản trị viên {{username}}</h1>

        <div class="admin-links">
            <a href="/admin/accounts">Quản lý tài khoản</a>
            <a href="/admin/authtokens">Quản lý phiên đăng nhập</a>
            <a href="/admin/sessions">Quản lý tiến trình người chơi</a>
            <a href="#">Quản lý hệ thống</a>
            <form action="/logout" method="POST">
                <button type="submit">Đăng xuất</button>
            </form>
        </div>
    </div>

</body>

</html>