<!DOCTYPE html>
<html lang="vi">
<body>
    <div><img href="partials/start_background.jpg" rel="background"></div>
    <button onclick="redirectToLink()">Play now!</button>

    <script>
        function redirectToLink() {
            window.location.href = "http://localhost:8080";
        }
    </script>
</body>
</html>