<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Play now!</title>
    <style>
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url('/image/start_background.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        h1 {
            color: #ffffff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        .button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            /* Khoảng cách giữa các nút */
            margin-top: 330px;
        }

        button {
            background-color: #7a2105;
            border: 2px solid black;
            border-radius: 7px;
            font-size: 15px;
            font-weight: 800;
            color: #ffffff;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #5f1a04;
        }
    </style>
</head>
<body>
    <div><img src="/app/public/image/start_background.jpg" alt="background" style="display: none;"></div>
    <div class="button-container">
        <button onclick="redirectToLink()">Play now!</button>
        <button>Continuous</button>
        <button>Setting</button>
    </div>
    <script>
        function redirectToLink() {
            window.location.href = "http://localhost:8080";
        }
    </script>
</body>
</html>