<!DOCTYPE html>
<html lang="vi">
<body>
    <div><img url="file:///C:/Users/admin/Downloads/EscapeRoomVR/app/src/resources/views/partials/start_background.jpg"></div>
    <button onclick="redirectToLink()">Play now!</button>

    <script>
        function redirectToLink() {
            window.location.href = "http://localhost:8080";
        }
    </script>
</body>
</html>